.nav {
  width: 100%;
  height: 10%;
  display: flex;
  border-bottom: 0.2px solid #ebf0f5 ;
}

.nav-img {
  width: 50%;
  display: flex;
  align-items: center;
}

.nav-img img {
  height: 40%;
  width: 15%;
  margin-left: 2.5rem;
}

.nav-user {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-user-details {
  height: 55%;
  width: 25%;
  border: 1px solid #ebf0f5;
  margin-right: 2.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-user-img {
  height: 85%;
  width: 18%;
  border-radius: 50%;
  margin-right: 0.5rem;
  object-fit: contain;
}

.nav-user-img img {
  height: 100%;
  width: 100%;
}

.nav-user-name {
  height: 90%;
  width: 75%;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .nav-img img {
    height: 28%;
    width: 25%;
    margin-left: 1.5rem;
  }

  .nav-user-details {
    margin-right: 2rem;
  }

  .nav-user-img {
    height: 60%;
    width: 15%;
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: contain;
  }

  .nav-user-details {
    width: 45%;
    height: 70%;
  }

  .nav-user-name {
    height: 90%;
    width: 75%;
    font-size: 1.2rem;
  }
}
