.side-bar {
  height: 100%;
  width: 13%;
  border-right: 0.2px solid #ebf0f5;
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
}

.items {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 2.1rem;
}

.item-1 {
  width: 80%;
  height: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-1-icon {
  margin-left: 11px;
  margin-right: 1rem;
}

.item-1-title {
  font-size: 16px;
  color: #6b7785;
  font-weight: bold;
}

.item-2 {
  width: 80%;
  height: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-2-icon {
  margin-left: -12px;
  margin-right: 1rem;
}

.item-2-title {
  font-size: 16px;
  color: #6b7785;
  font-weight: bold;
}

.item-3 {
  width: 80%;
  height: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-3-icon {
  margin-left: 11px;
  margin-right: 1rem;
}

.item-3-title {
  font-size: 16px;
  color: #6b7785;
  font-weight: bold;
}

.item-1:hover {
  background: #f7f8fa;
  border-radius: 0 25px 25px 0;
}

.item-1:hover h2 {
  color: #445ee2;
}

.item-2:hover {
  background: #f7f8fa;
  border-radius: 0 25px 25px 0;
}

.item-2:hover h2 {
  color: #445ee2;
}

.item-3:hover {
  background: #f7f8fa;
  border-radius: 0 25px 25px 0;
}

.item-3:hover h2 {

  color:#445ee2;
}

@media (max-width: 1100px) {
  .side-bar {
    width: 17%;
  }

  .item-1 {
    height: 25%;
  }

  .item-2 {
    height: 25%;
  }

  .item-3 {
    height: 25%;
  }
}
